.top-menu{
  background: #000;
  li{
    height: 70px;
    a{
      display: block;
      color: #fff;
      height: 100%;
      line-height: 70px;
      padding: 0 25px;
    }
  }
}
.top-header{
  height: 80px;
}
.header{
  margin-bottom: 15px;
}